.OurWork-Wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background: white; */
    padding: 0rem 5rem;
}
.work-leftbox{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    gap: 1rem;
}
.project-img{
    width: 90%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img img{
    width: 100%;
}
.work-leftbox h2{
    /* width: 30%; */
    font-size: 3rem;
    font-weight: 400;
}
.work-leftbox h2 span{
    color: #F9CE31;
    font-size: 3.9rem;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: #F9CE31 ;
}

.work-rightbox{
    width: 50%;
    height: 100%;
    overflow:scroll;
    margin-top: 2rem;
    /* padding-bottom: 4rem; */
}
.work-rightbox::-webkit-scrollbar {
    display: none;
}

.mywork-container{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin: 0 auto;
    gap: 2.5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 1rem 0 ;
    padding: 1rem 2rem;    
    /* margin-bottom: 6rem; */
}
.space{
    width: 100%;
    height: 15vh;
}
.mywork-container .project-Wrapper{
    width: 100%;
    height: 75vh;
    background-color: #222;
    position: relative;
    transition: .2s linear all;
    border: none;
    outline: none;
}
.project-Wrapper:hover{
    /* border: 2px solid white; */
    box-shadow: 0 0 5px white;
    border: 1px solid white;
    transform: scale(1.02);
}
.project-image{
    width: 100%;
    height: 57%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-radius: 50px; */
    /* padding: 20px 40px; */
    font-size: 20px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    transition: 0.6s;
    cursor: pointer;
}
.project-image img{
    width: 100%;
}
.project-Wrapper h3{
    width: 100%;
    padding: 10px 20px;
    font-size: 2rem;
    margin-top: 1rem;

}
.project-Wrapper .tool-wrapper{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    gap: 7px;
    margin-top: 1rem;


}
.tool-wrapper .tool{
    background-color: black;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: default;
}
.project-Wrapper .tool-btn{
    position: absolute;
    bottom: 7%;
    left: 5%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
    color: white;
    font-family: 'outfit';
    font-weight: 500;
    transition: .2s linear all;
    cursor: pointer;
}
.tool-btn:hover{
    transform: scale(1.05);
}


/* .mywork-container img{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}


.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #11F428;
    border-radius: 10px;
    transition: 0.3s;
} */
.mywork-showmore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid white;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .2s linear all;
}
.mywork-showmore img{
    width: 25px;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    border: 2px solid  #F9CE31;
    border-radius: 35px;
}
@media(max-width:1200px){
    .mywork{
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
    }
    .mywork-container .project-Wrapper{
        width: 40%;
        height: 40vh;
        background-color: #222;
        position: relative;
        transition: .2s linear all;
        border: none;
        outline: none;
    }
    .mywork-showmore{
        padding: 15px 30px;
        font-size: 16px;
        margin: 10px auto;
       
    }
    .mywork-showmore:hover{
        gap: 20px;
    }
    .title-box-work h2{
        width: 100%;
    }
}

@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
    }
    .mywork-container .project-Wrapper{
        width: 100%;
        height: 40vh;
        background-color: #222;
        position: relative;
        transition: .2s linear all;
        border: none;
        outline: none;
    }
    .mywork-showmore{
        padding: 15px 30px;
        font-size: 16px;
        margin: 10px auto;
       
    }
    .mywork-showmore:hover{
        gap: 20px;
    }
}
@media(max-width:700px){
    .mywork-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .mywork-container .project-Wrapper{
        width: 80%;
        height: 30vh;
    }
    .title-box-work h2{
        width: 100%;
    }
}   
@media(max-width:450px){
    .mywork-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .mywork-container .project-Wrapper{
        width: 80%;
        height: 45vh;
    }
    .title-box-work h2{
        width: 100%;
    }
}   
